@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Source+Sans+Pro&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    list-style: none !important;
    
}


.intro{
    background-image: linear-gradient(rgba(0, 0, 0, 0.662),rgba(0, 0, 0, 0.79)),url(../img/banner-1.jpg);
    padding: 10rem 0;
    background-position: center;
}
.h1-intro{
    color: white;
    font-weight: 900;
    font-size: 60px;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
}
.pad{
    padding: 10px 100px;
}




a{
    text-decoration: none !important;
    
}




.index{
    background-image: linear-gradient(rgba(0, 0, 0, 0.592),rgba(0, 0, 0, 0.652)),url(../img/slider-1.jpg);
    height: 100vh;
    position: relative;
}
.head{
    align-items: center;
    padding-inline: 15rem;
    width: 100%;
}
.head-item{
    padding: 10px 10px;
    align-items: center;
    color: white;

}
.navbar-brand{
    color: white;
}
.head-item p{
   margin: 0;
   padding-inline: 10px;
}
.hd-social i{
    padding: 10px 15px;
    color: white;
}
.hd-social{
    margin-left: 350px;
}

/* --------media ----------- */

@media only screen and (max-width:500px){
    .head{
        display: none !important;
    }
}

/* -------navbar---------------- */

.navbar{
    /* padding-inline: 5rem; */
    /* position: sticky !important ;
    top: 0 !important; */
    z-index: 99!important;
    background-color: #2E3238;
    
}

header{
    background-color: #2E3238;
    margin-bottom: 0;
}
.navbar-nav{
    margin-left: auto;
    align-items: center;
}


.navbar-nav li{
    padding: 5px 10px;
}
.navbar-nav li a{
    font-size: 20px;
    color: white !important;
    letter-spacing: 1px;
    font-weight: 600;
}

.navbar-nav li a:hover{
    color: blue;
    transition: .5s all;
}

.nav-btn{
    padding: 8px 18px;
    font-size: 16px;
    letter-spacing: 1.5px;
    color: white;
    border-radius: 10px;
    text-transform: uppercase;
}

.dropdown a{
    background-color: transparent !important;
    border: none;

}
.dropdown ul{
    border-radius: 0px!important;
    background-color: black;
    color: white;
    border-top: 2px solid blue;
    opacity: 1;
    

}
.dropdown:hover .dropdown-menu{
    display: block;
}

.navbar-brand{
    color: white !important;
    letter-spacing:2px;
    font-weight: 600;
    font-size: 30px!important;

}
.nav-btn:hover{
    color: white!important;
}

/* ---media nav------- */
@media only screen and (max-width:500px){
    .nav-btn{
        display: none !important;
    }
}




.index-item{
    /* padding: 10rem; */
    color: white;
    text-align: center;
    width: 60%;
    padding: 120px 0;
    
}
.p-1{
    /* height: 80vh; */
    line-height: 100px;
}
.index-item h3{
    letter-spacing: 10px;
    font-size: 18px;
}
.index-item h1{
    font-size: 60px;
    font-weight: 800;
    line-height: 70px;
    letter-spacing: 2px;
}
.index-item a{
    color: white;
    padding: 15px 40px;
    margin: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 5px;
    transition: .5s all;
}
.index-btn-l{
    background-color: #4869E8 !important;
    color: white;
}
.index-btn-l:hover{
    background-color: white !important;
    color: #4869E8;
}
.index-btn-r{
    border: 1px solid white !important;
}
.index-btn-r:hover{
    border: none!important;
    background-color: #4869E8;
    color: white;
}

/* -------media-------- */
@media only screen and (max-width:500px){
    .index{
        height: 115vh;
    }
    .index-item{
        width: 80%;
        font-size: 15px;

        
        /* font-size: 10px; */
        /* height: 0px; */
    }
    .index-item h3{
        letter-spacing: 8px;
        font-size: 20px;

    }
    .index-item h1{
        font-size: 40px;
        line-height: 50px;
        font-weight: 600;
    }
    .index-item a{
        color: white;
        padding: 25px 5px;
        font-weight: 600;
        letter-spacing: 1px;
        border-radius: 5px;
        transition: .5s all;
        line-height: 0;
        display: block;
    }
}



/* ------p-2----------- */

.p-2{
    background-color: #4869E8;
    width: 80%;
    height: 25vh;
    margin-left: 10rem;
    bottom: -200px;
    position: absolute;
    border-radius: 10px;
}
.p-2-item{

    width: 100%;

    padding: 30px 25px;color: white;
    
}
.p-2-item div{
    width: 70%;
    font-weight: 600;
}
.p-2-item div p{
    opacity: 0.5;
}
.p-2-item div h2{
    font-size: px;
    font-weight: 600;
}
.p-2-item a{
    position: absolute;
    color: #4869E8;
    right:20px;
    top:70px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 10px;
}

/* --------media queries--------- */

@media only screen and (max-width:500px){
    .p-2{
    width: 100%;
    height: auto;
    margin-left: 0;
    bottom: 0; 
    position: relative;
    /* display: block; */
    border-radius: 0px;
    }
    .p-2-item div{
        width: 100%;
        font-weight: 600;
    }
    .p-2-item div h2{
        width: 100%;
    }
    .p-2-item a{
    display: none;  
    }



}

/* ----------p-3--------- */

.p-3{
    margin-top: 15rem;
    height: auto;
    padding:200px;
}
.p-3-item{
    flex-wrap: wrap;
}
.p-3-item h2{
    font-weight: 900;
    font-size: 50px;
}
.p-3-item-cont i{
    font-size: 40px;
    color: #4869E8;
    
}
.p-3-item-cont h3{
    font-weight: 600;
    letter-spacing: 1px;
   font-size: 25px;
}

@media only screen and (max-width:500px){
    .p-3{
        margin-top: 3rem;
        height: auto !important;
        padding:000px;
    }
    .p-3-item h2{
        font-weight: 900;
        font-size: 30px;
        margin-bottom: 50px;
        padding: 0px 25px ;
    }

}

/* ----------------p-4-------- */

.p-4-img img{
    width: 95%;
}
.p-4-item h2{
    font-weight: 600;
    font-size: 40px;
    padding: 15px 0px;
}
.p-4-item p{
    opacity: 0.8;
    padding: 25px 0px;
}
.p-4-item a{
    background-color: #4869E8;
    color: white;
    padding: 15px 40px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 5px;
    transition: .5s all;
}
.p-4-item a:hover{
    background-color: #2E3238;
    color: white;
}



/* ------p-5-------------------- */

.p-5-no{
    text-align: center;
}
.p-5-no h1{
    font-size: 65px;
    font-weight: 900;
}
.p-5-no label{
    letter-spacing: 1px;

}

@media only screen and (max-width:500px){
    .p-5-no{
        margin: 30px 5px;
        font-size: 20px;
    }

}


/* ----------------------------p-6------------- */

.p-6{
    background-color: #f5f5f5;
    padding: 5rem 0;
    text-align: center;
}
.p-6-con{
    padding: 0 0 5rem;

}
.p-6-con h1{
    font-size:70px;
    font-weight: 900;
    padding-bottom: 20px;
}
.p-6-con label{
    width: 40%;

}

.box{
    text-align: center;
    padding: 30px;
    background-color: white;
    
    
}
.p-6-grid{
    padding: 0 10rem;
}

.detail{
    padding: 50px 50px;
    border: none;
    border-radius: 5px;
    margin-bottom: 40px!important;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background-color: white;
}
.detail::after{
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 0;
    background-color: #4869E8;
    transition: 0.3s all;
    z-index: -1;
}
.detail:hover::after{
    height: 100%;
}

.detail i{
    color: #4869E8;
    font-size: 50px;
    padding: 10px;
    transition: 0.5s all;
    padding: 15px 0;
}
.detail:hover i{
    color: white!important;
}
.detail h3{
    color: black;
    transition: 0.5a all;
    padding: 15px 0;
}
.detail p{
    color: black;
    transition: 0.5a all;
}
.detail:hover h3{
    color: white;
}
.detail:hover p{
    color: white;
}
.p-6 .row{
    padding: 0 3rem;
}


@media only screen and (max-width:500px){
    .p-6 .container{
        padding: 10px;
    }
    .p-6 .row{
        padding: 0;
    }
}



/* ----------p-7---------- */
.p-7{
    background-image: linear-gradient(#4868e8e7,#4868e8f6), url(../img/banner-1.jpg);
    padding: 3rem;
}
.p-7-item{
    padding:20px;
    color: white;
}
.p-7-item h1{
    font-weight: 600;
    font-size: 60px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.p-7-item label{
    opacity: 0.8;
    letter-spacing: 0.5px;
}

.p-7-cont{
    background-color: white;
    border-radius: 5px;
    padding: 40px;
    margin-bottom: 20px;
    display: inline-block;
    transition: 0.5s all;
}
.p-7-cont:hover {
    transform: translateY(15px);
}
.p-7-cont:hover h1{
    color: #4869E8;
}

.p-7-cont h3{
    font-size: 20px;
    opacity: 0.8;
    margin: 10px;
}
.p-7-cont span{
    background-color: #f5f5f5;
    padding: 5px 15px;
    border-radius: 10px;

}
.p-7-cont h1{
    font-size: 100px;
    font-weight: 900;
}
.p-7-cont h1 span{
    font-size: 30px;
    background-color: white;
}
.p-7-cont h2{
    font-size: 20px;
    margin: 30px 0px;
}
.p-7-cont a{
    color: black;
    padding: 10px 30px;
    border: 1px solid black;
    border-radius: 5px;
    transition: 0.5s all;
}
.p-7-cont a:hover{
    color: white;
    background-color: #4869E8;
}
.p-7-flex{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
@media only screen and (max-width:500px){
    .p-7{
        padding: 10px;
    }
    .p-5{
        padding: 0px !important;
    }

}





/* -------------p-8---------- */
.p-8-flex{
    display: flex;
    flex-wrap: wrap;
}
.p-8-item{
    padding:20px;
}
.p-8-item h1{
    font-weight: 600;
    font-size: 60px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.p-8-item label{
    opacity: 0.8;
    letter-spacing: 0.5px;
}
.p-8-cont{
    margin-bottom: 50px;
}

.p-8-cont img{
    width: 100%;
}
.p-8-container h2{
    font-weight: 600;
    font-size: 25px;
}
.p-8-container{
    position: relative;
    padding: 10px;
    margin-top: -50px;
    background-color: rgb(255, 255, 255);
    opacity: 0.99;
    width: 80%;
    border-radius: 5px;
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: 1px solid grey;

}
.social{
    justify-content: space-around;
}
.social a{
    color: black;

}
.social a:hover{
    color: #4869E8;

}
.p-8 .container{
    padding: 5rem;
}
@media only screen and (max-width:500px){
    .p-8-flex{
        
        flex-direction: column;
    }
    .p-8-cont{
        width: 100%!important;
    }
    .p-8 .container{
        padding: 10px;
    }
}

/* ----------------p-9----------- */
.p-9-img{
    width: 50%;
}
.p-9-cont{
    width: 50%;
    padding:20px 80px 0;
}
.p-9-img img{
    width: 100%;
    height: 65vh;

}
.p-9{
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}
.p-9 i{
    position: absolute;
    padding: 40px;
    border-radius: 50%;
    background-color: #4869E8;
    /* right: 49%; */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@media only screen and (max-width:500px){
    .p-9{
        flex-direction: column;

    }
    .p-9-img img{
        width: 100%;
    
    }
    .p-9-img{
        width: 100%;
        height: 50vh;
        overflow: hidden;
    }
    .p-9-cont{
        text-align: center;
        width: 100%;
        padding:100px 10px;
        height: 50vh;
    }
    
}


/* ---------------p-10------------ */
.p-10{
    background-color: #F5F5F5;
}
.p-10-item{
    padding:50px;
}
.p-10-flex{
    display: flex;
    justify-content: space-around;
    padding-inline: 80px;
}
.p-10-cont img{
    width: 100%;
}
.p-10-cont div{
    justify-content: space-around;
}
.p-10-cont {
    background-color: white;
    padding: 0px!important;
    margin-bottom: 20px;
}
.gss{
    padding: 5px 5px 20px;
}
.p-10-cont h1{
    font-weight: 900;
    font-size: 30px;
    padding: 0px 15px;
}
.gss .d-flex label{
    font-size: 13px;
}
.p-10-cont label{
    margin: 10px 0;
    padding: 0px 15px;
    font-size: 15px;
}
.p-10-cont a{
    color: white;
    padding: 10px 25px;
    background-color: #4869E8;
    left: 0;
    border-radius: 5px;
    margin: 10px 0px;
    margin: 0px 15px;
}
.p-10-cont a:hover{
    color: white;
    background-color: black;
}

@media only screen and (max-width:500px){
    .p-10-flex{
        padding-inline: 10px;
    }
}


/* ----------footer------------ */

.footer{
    background-color: #24282F;
    color: white;
    padding: 50px 80px 0px;
}

.footer-item h2{
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    margin-top: 20px;
}
.footer-item a{
    color: white;
}
.footer-item p{
    padding: 0x;
    margin-top: 20px;
}
.footer-list li a{
    color: white;
    opacity: 0.8;

    font-size: 18px;
    
   
}
.footer-list li{
    padding-bottom: 10px;
}
.footer-list li a i{
    margin-right: 5px;
}
.footer-list{
    padding-left: 0px!important;
}
.footer-pad{
    padding:20px 10em;
}
.last {
    border-top: 1px solid rgba(128, 128, 128, 0.26);
    padding: 20px 0px;

}
.last p{
    letter-spacing: 1px;
}

@media only screen and (max-width:500px){
    .footer-pad{
        padding:0px;
    }
    .footer{
        padding: 0px;
    }
    .pad{
        padding: 0;
    }
    .h1-intro{
        font-size: 30px;
    }
}
